spring:
  application:
    name: cognitive-banking-application

  datasource:
    url: jdbc:h2:mem:cognitivebank
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  data:
    redis:
      host: localhost
      timeout: 2000ms
      port: 6379
server:
  port: 8080
  servlet:
    context-path: /api/cognitive/bank

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.cognitivebanking: DEBUG
