spring:
  datasource:
    url: jdbc:h2:mem:cognitivebank;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  data:
    redis:
      repositories:
        enabled: false

server:
  servlet:
    context-path: /api/cognitive/bank

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
