spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:h2:mem:cognitive_bank;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  data:
    redis:
      port: 6379
      database: 0
      password: ""
      host: localhost

logging:
  level:
    root: DEBUG
