apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: cognitive-postgres-bank
spec:
  serviceName: cognitive-postgres-bank
  replicas: 1
  selector:
    matchLabels:
      app: cognitive-postgres-bank
  template:
    metadata:
      labels:
        app: cognitive-postgres-bank
    spec:
      containers:
        - name: postgres
          image: postgres:16-alpine
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: cognitive-backend-secrets
                  key: DB_NAME
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: cognitive-backend-secrets
                  key: DB_USERNAME
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: cognitive-backend-secrets
                  key: DB_PASSWORD
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: postgres-data-cognitive-postgres-bank-0