apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cognitive-redis-cache-0
  namespace: cognitive-bank
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard