apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: cognitive-redis-cache
  namespace: cognitive-bank
spec:
  serviceName: cognitive-redis-cache
  replicas: 1
  selector:
    matchLabels:
      app: cognitive-redis-cache
  template:
    metadata:
      labels:
        app: cognitive-redis-cache
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          command: ["redis-server"]
          args: ["--requirepass", "$(REDIS_PASSWORD)"]
          ports:
            - containerPort: 6379
          env:
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: cognitive-backend-secrets
                  key: REDIS_PASSWORD
          volumeMounts:
            - name: redis-data
              mountPath: /data
      volumes:
        - name: redis-data
          persistentVolumeClaim:
            claimName: redis-data-cognitive-redis-cache-0